<!DOCTYPE html>
<!--*
 * SocketStream application Management Console for Lophilo
 *
 * Author: Ricky Ng-Adam <rngadam@lophilo.com>

 Copyright 2012 Lophilo

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 *-->
<html lang="en">
<head>
	<SocketStream/>
	<title>Lophilo Management Console</title>
</head>
<body>
<div class="navbar">

	<div class="navbar-inner">	
		<ul class="nav nav-tabs">
			<a class="brand" href="http://lophilo.com" target="new">Lophilo</a>
			<li><a href="#system" data-placement="bottom" data-toggle="tab" rel="tooltip" title="This is the system tab with some versioning and status information">System</a></li>
			<li><a href="#editing" data-toggle="tab" rel="tooltip" title="Existing apps and the ability to create new ones with Cloud9">Applications</a></li>
			<li><a href="#settings" data-toggle="tab" rel="tooltip" title="General system settings (security, services, accounts)">Settings</a></li>	  
			<li class="dropdown">
			  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
			  	Help
			  </a>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
			    <li>
			    	<a tabindex="-1" href="https://github.com/Lophilo/lophilo/wiki" target="new">System documentation</a>
			    	<a tabindex="-1" href="https://github.com/Lophilo/lophilo/issues/new" target="new">Report bug</a>			    	
			    	<a tabindex="-1" href="#">About</a>    	
			    </li>
			  </ul> 			
			</li>	  
			<li class="dropdown">
			  <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-bind="with: user">
			  	<b data-bind="text: username"></b>
			  </a>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
			    <li>
			    	<a tabindex="-1" href="/auth/github">Login with Github</a>
			    </li>
			    <li>
			    	<a href="#pubkey" tabindex="-1" data-toggle="modal" data-bind="click: require('/mc.js').refreshPubKey">Github public key</a>
			    </li>			    
			    <li>
			    	<a tabindex="-1" href="" data-bind="click: require('/mc.js').logout">Logout</a>
			    </li>			    
			  </ul> 		
			</li>			
	  		<li><a href="#system" rel="tooltip" title="Load average (1mn)"><span class="dynamicsparkline">Loading..</span></a></li>

		</ul>
	</div>		

	<div id="myTabContent" class="tab-content">	
	  <div class="tab-pane fade in active" id="system">
	  	<div class="well">System health and management</div>
		<div class="btn-group" data-toggle="buttons-radio">
		  <button type="button" class="btn">Restart...</button>
		  <button type="button" class="btn">Switch off...</button>
		</div>	

		<div class="accordion" id="accordion2">
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
		        Statistics
		      </a>
		    </div>
		    <div id="collapseOne" class="accordion-body collapse in">
		      <div class="accordion-inner" data-bind="with: stats">
		        <p>Uptime console: <span data-bind="text: processDisplay"></span></p>
		        <p>Uptime system: <span data-bind="text: systemDisplay"></span></p>
		      </div>
		    </div>
		  </div>
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		        Versions
		      </a>
		    </div>
		    <div id="collapseTwo" class="accordion-body collapse">
		      <div class="accordion-inner" data-bind="with: versions"> 
		  		<ul data-bind="foreach: items">
			  		<li><span data-bind="text: name"></span>: <span data-bind="text: version"></span>
			  	</ul>
		      </div>
		    </div>
		  </div>
		</div>	  	
  	    
	  </div>

	  <div class="tab-pane fade" id="editing"  data-bind="with: apps">
	  	<div class="well">Editing and creating Lophilo applications</div>	  	
			<ul class="thumbnails">
				<div>
					<li class="span2">
						<div class="thumbnail">
						  	<a href="#new-app" role="button" class="btn" data-toggle="modal">
						  		<img src="/icons/list-add.svg" alt="test" width=128 height=128>
						  	</a>
						 	<center>
						 		Add new...
						 	</center>							
						</div>
					</li>
				</div>
				<!-- ko foreach: items -->
				<li class="span2">
					<div class="thumbnail">
					  	<a href="" data-bind="click: require('/mc.js').run" role="button" class="btn" data-toggle="modal">
					  		<img data-bind="attr: {src: icon}" alt="test" width=128 height=128>
					  	</a>
					 	<center>
					 		<span data-bind="text: name"></span>
					 		<p>
					 		<!--
					 		<a class="btn btn-small" href="#">
					 			<i class="icon-pencil">E</i>
					 		</a>
					 		<a class="btn btn-small" href="#">
					 			<i class="icon-trash">X</i>
					 		</a>
					 		-->
					 		<a class="btn btn-small" href="#" data-bind="click: require('/mc.js').edit">E</a>
					 		<a class="btn btn-small" href="#" data-bind="	click: require('/mc.js').rm">X</a>
					 		</p>
					 	</center>					  
					</div>
				</li>
				 <!-- /ko -->				
			</ul>	  	   
	  </div>
	  
	  <div class="tab-pane fade" id="software">
	  	<div class="well">Software updates and installs</div>	  
	  </div>
	  
	  <div class="tab-pane fade" id="settings">
	  	<div class="well">General system settings (security, services, accounts)</div>
			<ul class="thumbnails">
				<li class="span2">
					<div class="thumbnail">
					  <img src="/icons/system-config-users.svg" alt="Configure users accounts" width=128 height=128>
					 <center>Users</center>					  
					</div>
				</li>	

				<li class="span2">
					<div class="thumbnail">
					  <img src="/icons/system-software-update.svg" alt="Update system software" width=128 height=128>
					  <center>Updates</center>
					</div>
				</li>	

				<li class="span2">
					<div class="thumbnail">
					  <img src="/icons/multimedia-volume-control.svg" alt="Multimedia volume control" width=128 height=128>
					  <center>Sound</center>
					</div>
				</li>			  			  
			 
				<li class="span2">
				    <div class="thumbnail">
				      <img src="/icons/preferences-system-time.svg" alt="Set system time" width=128 height=128>
					  <center>Time</center>
				    </div>
			  	</li>	

				<li class="span2">
				    <div class="thumbnail">
				      <img src="/icons/notification-network-ethernet-connected.svg" alt="Configure network" width=128 height=128>
					  <center>Networking</center>
				    </div>
			  	</li>				  	

				<li class="span2">
				    <div class="thumbnail">
				      <img src="/icons/gnome-dev-media-sdmmc.svg" alt="Configure MicroSD and SD storage" width=128 height=128>
					  <center>Storage</center>
				    </div>
			  	</li>

			</ul>	  	
	  </div>

	</div> <!--tab content-->

</div>	

<div class="modal hide" id="new-app" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Adding new application...</h3>
  </div>
  <div class="modal-body" data-bind="with: repos">
    <p>Available repositories:</p>
    <select data-bind="options: items, optionsText: 'full_name', value: selectedItem", optionsCaption: 'Select repository to checkout...'>
    </select>
  </div> <!-- modal-body -->

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" data-bind="click: require('/mc.js').checkoutRepository" data-dismiss="modal">Checkout</button>
  </div>  
</div>	

<div class="modal hide" id="about" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">About</h3>
  </div>
  <div class="modal-body">
  	Ricky Ng-Adam, Lophilo (2012)
  </div> <!-- modal-body -->

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>  
</div>	

<div class="modal hide" id="pubkey" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Public key</h3>
  </div>
  <div class="modal-body">
  	<p>
  	<span data-bind="text: user.pubkey"></span>
  	</p>
  </div> <!-- modal-body -->
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>  
</div>	

</body>
</html>