<!DOCTYPE html>
<html lang="en">
<head>
	<SocketStream/>
</head>
<body>

<a href="#new-app" role="button" class="btn" data-toggle="modal">
<img src="/icons/list-add.svg" alt="test" width=128 height=128>
</a>

<div class="modal hide" id="new-app" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Adding new application...</h3>
  </div>
  <div class="modal-body">
    <p>Available repositories:</p>

	<div class="tabbable" data-bind="with: repos"> <!-- Only required for left/right tabs -->
	  <ul class="nav nav-tabs" data-bind="foreach: organizations">
	    <li data-bind="css: {'active': ($index()==0) }">
	    	<a href="" data-toggle="tab" data-bind="attr: {href: '#tab' + $index()}"><span data-bind="text: name"><span></a></li>
	  </ul>
	  <div class="tab-content"  data-bind="foreach: organizations">
	    <div class="tab-pane" id="" data-bind="attr: {id: 'tab' + $index()}">
	      <p><span data-bind="text: name"><span></p>
	      <ul data-bind="foreach: $data.repos">
	      	<li><span data-bind="text: name"></span>
	      </ul>
	    </div>
	  </div>
	</div>
  </div> <!-- modal-body -->

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Create</button>
  </div>
</div>	

</body>
</html>